<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Blog Example</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col align-items-center justify-content-center text-center">
            <h1>Latest Post</h1>
        </div>
    </div>
    <div class="row mt-5 gy-5 gx-5">
        {% for post in blog_page %}
        <div class="col-10 col-sm-4 justify-content-around">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"><a href="{% url 'post_page' post.slug %}">{{ post.title }}</a></h3>
                    <p class="card-text text-muted small">{{ post.pub_date}}</p>
                    <p class="card-text">{{ post.content|slice:":200" }}</p>
                    <a href="{% url 'post_page' post.slug %}"><button class="btn btn-primary">Read More</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>